.all
{
    display: flex;
    flex-direction: column;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************** TOP SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.top
{
    background-color: lightgreen;
    flex-grow: 1;
    height: 250px;
    transition: 0.5s;

}




/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/***************************** BOTTOM SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.bottom
{
    display: flex;
    flex-grow: 4;

}


/**************************************************************/
/**************************************************************/
/********************* BOTTOM LEFT SECTION ********************/
/**************************************************************/
/**************************************************************/
.left
{
    background-color: black;
    /* flex-grow: 0; */
    flex-shrink: 4;
    max-width: 100%;
    transition: 1s;
    display: flex;
    flex-direction: column;
}
/*****************************************/
/******* FORMULAS & BELIEF SECTION *******/
/*****************************************/
.formulas
{
    background-color: gray;
    /* flex-grow: 0; */
    flex-shrink: 4;
    height: 100%;
    transition: 1s;
}


/*****************************************/
/*********** CALCULATOR SECTION **********/
/*****************************************/
.calculator
{
    background-color: orange;
    flex-shrink: 1;
    display: flex;
    text-align: center;
    /* width: 20%; */
}
.yourGroup{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: rgb(180,180,255);
    align-items: center;

}

.graphics
{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 160px;
}
.opposingGroup
{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: rgb(255,180,180);
    align-items: center;
}

/*** CHARTS ***/
.piechart
{
    opacity: 1;
    position: static;
    transition: 0.5s;

}
.helpbarchart
{
    opacity: 1;
    position: static;
    transition: 0.5s;
    /* border: 5px solid black; */
}
.sabobarchart
{
    opacity: 1;
    position: static;
    transition: 0.5s;
    transform: rotate(180deg);
    /* border: 5px solid black; */
}

/*** SLIDERS ***/
.lhSlider
{
    width: 200px;
}
.l2hSlider
{
    width: 200px;
    transform:rotate(180deg);
}
.vSliders
{
    display: flex;
    flex-direction: column;
    transform:rotate(270deg);
}
.vSlider1
{
    width: 150px;
}

.vSlider2
{
    width: 150px;
}
.mySlider
{
    width: 150px;
    opacity: 0.3;
}
.mySlider:hover{

}


/**************************************************************/
/********************* BOTTOM RIGHT SECTION *******************/
/**************************************************************/
.right
{
    background-color: lightblue;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*****************************************/
/************** INFO SECTION *************/
/*****************************************/
.info
{
    background-color: purple;
    flex-grow: 0;
    height: 250px;
    transition: 0.5s;
}

/*****************************************/
/************ DECISION SECTION ***********/
/*****************************************/
.decision
{
    display: flex;
    background-color: white;
    flex-grow: 3;
    justify-content:flex-start;
    border: 5px solid black;
}
.outcomes
{
    text-align: center;
    align-items: center;
    flex-grow: 1;
    float:left;
    border: 5px solid black;
}
.input
{
    text-align: center;
    align-items: center;
    flex-grow: 1;
    border: 5px solid black;
}
.dSlider
{
    width: 150px;
        transform:rotate(270deg);
}
