.all
{
    display: flex;
    flex-direction: column;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************** TOP SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.top
{
    background-color: lightgreen;
    flex-grow: 1;
    height: 250px;
    transition: 0.5s;

}




/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/***************************** BOTTOM SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.bottom
{
    display: flex;
    flex-grow: 4;

}


/**************************************************************/
/**************************************************************/
/********************* BOTTOM LEFT SECTION ********************/
/**************************************************************/
/**************************************************************/
.left
{
    background-color: black;
    flex-grow: 1;
    max-width: 100%;
    width: 40%;
    transition: 1s;
    display: flex;
    flex-direction: column;
}
/*****************************************/
/******* FORMULAS & BELIEF SECTION *******/
/*****************************************/
.formulas
{
    background-color: gray;
    flex-grow: 0;
    height: 100%;
    transition: 1s;
}


/*****************************************/
/*********** CALCULATOR SECTION **********/
/*****************************************/
.calculator
{
    background-color: orange;
    flex-grow: 10;
    display: flex;
}
.yourGroup{
    justify-content: center;
    flex-grow:2;
    display: flex;
    flex-direction: column;
    background-color: blue;

}
.graphics
{
    justify-content: center;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.opposingGroup
{
    justify-content: center;
    flex-grow:2;
    display: flex;
    flex-direction: column;
    background-color: red;
}


.piechart
{
    opacity: 1;
    position: static;
    transition: 0.5s;
}
.helpbarchart
{
    opacity: 1;
    position: static;
    transition: 0.5s;
    border: 5px solid black;
}
.sabobarchart
{
    opacity: 1;
    position: static;
    transition: 0.5s;
    transform: rotate(180deg);
    border: 5px solid black;
}


.vSlider
{
    width: 150px;
    transform:rotate(270deg);
}



/**************************************************************/
/********************* BOTTOM RIGHT SECTION *******************/
/**************************************************************/
.right
{
    background-color: lightblue;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/*****************************************/
/************** INFO SECTION *************/
/*****************************************/
.info
{
    background-color: purple;
    flex-grow: 0;
    height: 250px;
    transition: 0.5s;
}

/*****************************************/
/************ DECISION SECTION ***********/
/*****************************************/
.decision
{
    background-color: violet;
    flex-grow: 3;
}
