/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
.canvasarrow{
    /* border: 5px solid black; */
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 150px;
    height: 150px;
}
.mywheel
{
    z-index:0;
    /* border: 5px solid black; */
    position: relative;
}
.arrow
{
    width:30px;
    height:30px;
    z-index:1;
    position: absolute;
    transform:rotate(180deg);
    margin-left:59.5px;
    margin-top: 5px;
}
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/

.wrap
{
    display: flex;
/*
    width: 100%;
    height: 600px; */
    justify-content: center;
    /* margin-left: 90px; */
    /* border: 5px solid black; */
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.all{
    /* margin-top: 20%;
    margin-bottom: 20%;

    height:300px;
    width: 300px; */

    display:flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    /* justify-content:center; */
    /* border: 5px solid black; */
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.firstpart
{
    display:flex;
    flex-direction: row;
}
/************** STAGE 3 *************/
/************** STAGE 3 *************/
/************** STAGE 3 *************/
/************** STAGE 3 *************/
/************** STAGE 3 *************/
.s3feedback
{
    border: 5px solid black;
    display:flex;
    flex-direction: column;
}
.s3feedbackgraphics
{
    display:flex;
    flex-direction: row;
}
.wheelwrap
{
    display:flex;
}
.canvasarrow{
    /* border: 5px solid black; */
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 150px;
    height: 150px;
}
.mywheel
{
    z-index:0;
    /* border: 5px solid black; */
    position: relative;
}
.arrow
{
    width:30px;
    height:30px;
    z-index:1;
    position: absolute;
    transform:rotate(180deg);
    margin-left:59.5px;
    margin-top: 5px;
}
.s3pies
{
    display:flex;
    flex-direction:column;
}
.s3actualpie
{

}
.s3beliefpie
{

}
.s3bars
{
    display:flex;
    flex-direction:column;
}
/************** STAGE 2 *************/
/************** STAGE 2 *************/
/************** STAGE 2 *************/
/************** STAGE 2 *************/
/************** STAGE 2 *************/
.s2feedback
{
    border: 5px solid black;
    display:flex;
    flex-direction: column;
}
.s2maintitle
{

}
/*********** actual decision **********/
/*********** actual decision **********/
/*********** actual decision **********/
/*********** actual decision **********/
.s2actualdecision
{
    display:flex;
    flex-direction: column;
}
.s2actualtitle
{

}
/******** actual decision graphics *******/
/******** actual decision graphics *******/
/******** actual decision graphics *******/
.s2feedbackgraphics
{
    display:flex;
    flex-direction: row;
}
.g1
{
    display:flex;
    flex-direction: column;
}
.totalbars
{
    display:flex;
    flex-direction: column;
}
.g2
{
    display:flex;
    flex-direction: column;
}
/************** Beliefs *************/
/************** Beliefs *************/
/************** Beliefs *************/
/************** Beliefs *************/
.s2beliefs
{
    display: flex;
    flex-direction: column;
}
.s2beliefbars
{
    display:flex;
    flex-direction:row;
}
.bg1
{
    display:flex;
    flex-direction: column;
}
.bg2
{
    display:flex;
    flex-direction: column;
}
/*********** legend **********/
/*********** legend **********/
/*********** legend **********/
.borderlegend
{
    display: flex;
    flex-direction: row;
}
.beliefs
{
    border: 2px solid purple;
    width:90px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.actual
{
    border: 2px solid green;
    width:30px;
    font-size: 14px;
    font-weight: bold;
}
