.wrap
{
    display: flex;
/*
    width: 100%;
    height: 600px; */
    justify-content: center;
    /* margin-left: 90px; */
    /* border: 5px solid black; */
}

.all
{
    display:flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************** TOP SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.top
{
    flex-grow: 1;
    /* height: 615px; */
    /* width: 100%; */
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
    background-image: linear-gradient(black,lightgray);
    /* border: solid black 3px; */
}
.boxes
{
    display: flex;
    flex-grow: 1;
    /* background-color: lightgray; */
    /* border: solid red 3px; */
    /* max-height: 130px; */
    /* max-height: 30% */
    justify-content: center;
    font-weight: bold;

}
.box
{
    height: 50px;
    width: 120px;
    background-color: gray;
    border: solid white 3px;
    opacity: 0.3;
    text-align: center;
    color: white;
    /* transition: 0.15s;
    transition-delay: 0.35s; */
    transition: 0.5s
}
.youarehere
{
    stroke: red;
    stroke-width: 2;
    marker-end:url(#markerArrow2);
    opacity: 1;
}
.arrow
{
    stroke:white;
    stroke-width:1;
    marker-end:url(#markerArrow);
    text-align: center;
    opacity: 0.3;
    /* transition: 0.15s;
    transition-delay: 0.35s; */
    transition: 0.5s;
}
.arrowBox
{
    /* border: solid black 3px; */
    height: 110px;
    width: 100px;

}

.doubleBoxes
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stageInfos
{
    flex-grow:5;
    /* background-color: lightgray; */
    min-height: 450px;
    display: flex;
    justify-content: center;


}
.sinfo
{
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    }
.title
{

    text-align: center;
    height: 70px;
    color: black;
    text-shadow: 1px 1px 3px gray;
    /* border: 5px solid black; */
}
.text
{
    /* border: 5px solid black; */

    min-height: 200px;
    /* line-height: 200px; */

    justify-content: center;
    font-size: 18px;
}
.regular
{
    width: 600px;
}
.larger
{
    width: 1200px;
}
.largest
{
    width: 1300px;
}
.sidebyside
{
    display: flex;
    justify-content:space-around;
}

/* .yellow
{
    color: rgb(237, 235, 49);
    font-weight: bold;

} */

.dirtyyellow
{
    text-shadow: 1px 1px 3px rgb(190, 189, 85);
    color: black;
}
.subtitle
{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
