.all
{
    display: flex;
    flex-direction: column;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************** TOP SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.top
{
    background-color: lightgreen;
    flex-grow: 1;
    height: 0;
    transition: 0.5s;

}




/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/***************************** BOTTOM SECTION *********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.bottom
{
    display: flex;
    flex-grow: 4;

}


/**************************************************************/
/**************************************************************/
/********************* BOTTOM LEFT SECTION ********************/
/**************************************************************/
/**************************************************************/
.left
{
    background-color: black;
    flex-grow: 1;
    max-width: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
}
/*****************************************/
/******* FORMULAS & BELIEF SECTION *******/
/*****************************************/
.formulas
{
    background-color: gray;
    flex-grow: 0;
    height: 0;
    transition: 1s;
}
/* .beliefs
{
    background-color: blue;
    flex-grow: 0;
    height: 0;
    transition: 1s;
} */
/* .CalculatorButtons
{
    display: flex;
    float: right;
} */
.calculatorButton
{
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    transition-duration: 0.4s;
    color: darkgray;
    padding: 16px;
    font-size: 12px;
    background-color: #555555;

}
.calculatorButton:hover
{
    background-color: black;
    color: white;
}

.math
{
    opacity: 0;
    position: absolute;
    transition: 0.5s;
}
/*****************************************/
/*********** CALCULATOR SECTION **********/
/*****************************************/
.calculator
{
    background-color: orange;
    flex-grow: 10;
}
.piechart
{
    opacity: 0;
    position: absolute;
    transition: 0.5s;
}





/**************************************************************/
/********************* BOTTOM RIGHT SECTION *******************/
/**************************************************************/
.right
{
    background-color: lightblue;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/*****************************************/
/************** INFO SECTION *************/
/*****************************************/
.info
{
    background-color: purple;
    flex-grow: 0;
    height: 0;
    transition: 0.5s;
}

/*****************************************/
/************ DECISION SECTION ***********/
/*****************************************/
.decision
{
    background-color: violet;
    flex-grow: 3;
}
.buttons
{
    float: right;
    display: flex;
    /* flex-direction: column;
    width: 10%; */

}
.button
{
    /* border-radius: 12px; */
    padding: 16px;
    font-size: 12px;
    background-color: #555555;
    opacity: 0.8;
    color: white;
}
.button:hover {opacity: 1}
