.wrap
{
    display: flex;
/*
    width: 100%;
    height: 600px; */
    justify-content: center;
}


.all{
    /* margin-top: 20%;
    margin-bottom: 20%;

    height:300px;
    width: 300px; */

    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    border: 5px solid black;


}
.info{
    flex-grow: 1;
}

.calculator
{
    display: flex;
    /* background-color: gray; */
    flex-grow:5;
     /* border: 5px solid black; */
}
.group
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    text-align: center;
    /* background-color: yellow; */
     /* border: 5px solid black; */

}
.slidebargroup
{
    display:flex;
    justify-content: center;
}
.left
{
    margin-right: 50px;
}
.right
{
    margin-right: 50px;
}
.graphics
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    text-align: center;
    /* background-color: orange; */
     /* border: 5px solid black; */
}

.pie
{
    display: flex;
    justify-content: center;
}

.helpbar
{
    display: flex;
    justify-content: center;
}

.sabobar
{
    display: flex;
    justify-content: center;
    /* transform: rotate(180deg); */
}

.decision
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.input
{
    flex-grow:1;
}
.dinfo
{
    flex-grow:1;
}



.sliderbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height
    /* position: relative; */
    /* border: 5px solid black; */

}

.bar
{
    z-index:0;
    position: relative;
    height:300px;
    width: 30px;
    margin-top: -42px;
    /* margin-top: -70px; */
    /* border: 5px solid black; */
    transition: 5s;

}

.vertical
{
    z-index: 1;
    position: absolute;
    transform:rotate(270deg);
    height:15px;
    width: 200px;
    margin-left: -60px;
    /* margin-left: -85px; */
    margin-top: -56px;
    /* margin-top: -40px; */
    /* border: 5px solid black; */

}

.slider
{
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    height: 3px;
    opacity: 0.3;
    transition: 0.5s;
    transition-delay: 0.5s;

}
.l{
    margin-right: 22px;
}
.slider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 30px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;

}
.slider::-moz-range-thumb {
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 30px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.slider:focus {
    outline: none;
}

.newSlider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 30px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    margin-top: -20px;
}

.slider:hover
{
    opacity:1;
    background:red;
    margin-left: -50px;
}

.slider:hover::-webkit-slider-thumb{
    margin-top: -20px;
}
