/************************************************/
.upperbar
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    position:sticky;
    top:0;
    z-index: 2;
    height:40px;
    transition:.5s;
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.wrap
{
    display: flex;
/*
    width: 100%;
    height: 600px; */
    justify-content: center;
    /* margin-left: 90px; */
    /* border: 5px solid black; */
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.all{
    /* margin-top: 20%;
    margin-bottom: 20%;

    height:300px;
    width: 300px; */

    display:flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    /* justify-content:center; */
    /* border: 5px solid black; */
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.sinfo{
    flex-grow: 1;
    /* justify-content: center; */
    /* border: 5px solid black; */
    /* width:900px; */
    /* background-color: gray; */
    margin-bottom: 90px;
}
.sinfotitle
{
    margin-bottom: 10px;
}
.sinfotextandgraphics
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}
.sinfotext
{
    font-weight:500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* text-align: center; */
    flex-grow: 1;
    /* border: 5px solid black; */
    /* max-width: 500px; */

}
.limited
{
    max-width: 1000px;
}
.sinfographics
{
    margin-bottom: 10px;
    margin-top: 0px;
    flex-grow: 1;
    /* position:absolute; */
    /* opacity:0.1; */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    /* border: 5px solid black; */

}

.s2infographics
{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 20px;
    /* margin-right: 20px; */
    /* border: 5px solid black; */
}
.s3infographics
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content:space-between;
    /* border: 5px solid black; */
}
.s4infographics
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 20px;
    /* border: 5px solid black; */
}

.borderlegend
{
    display: flex;
    flex-direction: row;

}
.newleader
{
    border: 2px solid indigo;
    width:90px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.youare
{
    border: 2px solid green;
    width:30px;
    font-size: 14px;
    font-weight: bold;
}
.newleader2
{
    border: 2px solid violet;
    width:90px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.youare2
{
    border: 2px solid lightgreen;
    width:30px;
    font-size: 14px;
    font-weight: bold;
}
.s2infotitle
{

    /* border: 5px solid black; */
    /* margin-top: -10px; */
}
.s2graphics
{
    /* border: 5px solid black; */
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.s2g1
{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.s2barmain
{
    display: flex;
    flex-direction: column;
}
.s3infotitle
{
    /* margin-top: -5px; */
}
.s3graphics
{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    /* border: 5px solid black; */
}
.s3pie
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    /* border: 5px solid black; */
}
.efiefo
{
    display:flex;
    flex-direction: column;
}
.s3efobar
{
    display: flex;
    /* border: 5px solid black; */
    justify-content: center;
    /* margin-top: 15px; */
}
.s3efibar
{
    display: flex;
    /* border: 5px solid black; */
    justify-content: center;
    /* margin-top: 15px; */
}



.s4pie
{
    display: flex;
    justify-content: center;
    /* border: 5px solid black; */
}

/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.calculator
{
    text-align: center;
    /* position: sticky; */
    /* top: -90px; */
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    flex-grow:5;
     /* border: 5px solid black; */
     /* position: sticky;
     top: 0px; */
}
.leftmaintitle
{
    margin-left: -105px;
}
.rightmaintitle
{
margin-right: -135px;
}
.titlesection
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.topsection
{
    /* margin-top: 20px; */
    /* z-index: 2;*/
    /* position: sticky;
    top: 0; */
    display:flex;
    flex-direction: row;
    /* border: 5px solid black; */
}
.middlesection
{
    margin-top: -20px;
    /* z-index:1;
    position: sticky;
    top: 185px; */
    /* justify-content: center; */
    display:flex;
    flex-direction: column;
    /* position: relative; */


    /* border: 5px solid black; */
}
.bottomsection
{

    /* position: sticky;
    top: 200px; */
    display:flex;
    flex-direction: row;
    /* border: 5px solid black; */
}
.decision
{
    padding-left: 20px;
    /* position: sticky;
    top:3000px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.efficiencyBarWrap
{
    /* margin-bottom: 20px; */
    position: sticky;
    top: 0;
    display:flex;
    justify-content: center;
    flex-grow: 1;
}
.efficiencyBar
{
    justify-content: center;
}

.efficiencyBar2
{
    /* margin-top: -20px; */
    margin-left: 30px;
    z-index:0;
    cursor: none;
}
.left_ltitle
{
    /* margin-left: -50px; */

}
.efficiencyBar1
{
    /* margin-top: -20px; */
    margin-left: 30px;
    z-index:0;
    cursor: none;
    /* margin-top: 15px; */
}
.advantagetext
{
    z-index:1;
    margin-left: -10px;
    /* margin-top: 15px; */
}
.leadergroupleft
{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 15px;

}
.leadergraphics
{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.leadergroupright
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 15px;
}

.followergroupleft
{
    display: flex;
    flex-direction: column;
}
.followergraphics
{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.followergroupright
{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
/************************************************/
/************************************************/
/************************************************/
/* .graphics
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    text-align: center;
    margin-right: 45px;
 } */
/************************************************/
/************************************************/
/* class to contain the pie graph and its title*/
.piewrap
{
    position: sticky;
    top: 0;
    margin-top: 0px;
    margin-left: 20px;
    /* border: 5px solid black; */
}
/************************************************/
.pie
{
    display: flex;
    justify-content: center;

}
/************************************************/
/* class to contain both help and sabo bar plots */
.helpsabobars
{
    /* margin-top: 180px; */
    margin-top: 55px;
    /* position: sticky; */
    /* top: 150px; */
    /* border: 5px solid black; */
}
.helpbar
{
    display: flex;
    justify-content: center;

    /* margin-right: 45px; */
    /* position: sticky;
    top: 180px; */
}
.sabobar
{
    display: flex;
    justify-content: center;
    /* margin-right: 45px; */
    /* margin-top: 120px; */
    /* transform: rotate(180deg); */
    /* position: sticky;
    top: 250px; */
}
/************************************************/
/************************************************/
/************************************************/
/* .group
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    text-align: center;
} */
/************************************************/
.titlewrap
{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-bottom: -20px;
}
/* Simple text classes*/
.right_title
{
    /* margin-right: 50px; */
}

.ftitle
{
    margin-top: 20px;
}
.you
{
    margin-left: -305px;
    /* margin-bottom: 5px;*/
}
/************************************************/
/************************************************/
/* Slider + bar classes for followers and leader*/
/************************************************/
/*class to containt slider + bar*/
.sliderbarleader
{
    position: sticky;
    top: 0px;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
/* adjustment for left side leader we didn't have one for right side leader*/
/*subclass of sliderbarleader*/
.lright
{
    /* margin-right: 40px; */
}
.lbar
{
    z-index:0;
    position: relative;
}
/************************************************/
.lslider
{
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    opacity: 0.3;
    transition: 0.35s;
    /* transition-delay: 0.15s; */

    /*Setup Large*/
    width: 356px;
    margin-top: 35px;
    margin-left:-1px;
    /* background: black; */
    height: 2px;
}
/************************************************/
.lslider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.15s; */
    margin-top: -1px;
}
.lslider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 30px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.25s; */
}
.lslider:focus
{
    outline: none;
}
/************************************************/
.lslider:hover
{
    opacity:1;
    background:gray;

    /*Setup Large*/
    margin-top: 45px;
    background:black;
}
.lslider:hover::-webkit-slider-thumb
{
    /*Setup Large*/
    height: 47px;
    margin-top: 0px;
    /* width: 5px; */
}
.lslider:hover::-moz-range-thumb
{
    height: 47px;
    /* width: 5px; */
}
/************************************************/
/************************************************/
/************* Followers Slider + Bar ***********/
/************************************************/
/************************************************/
/*additional parent class to contain all followers slider + bar*/
.slidebargroup
{
    /* position: sticky;
    top: 150px; */
    display:flex;
    justify-content: center;
}
/*adjustment for both follower groups*/
/*subclass of sliderbargroup*/
.left
{
    /* margin-right: 50px; */
}
.right
{
    /* margin-right: 50px; */
    /* margin-top: 25px; */
}


/************************************************/
/* class to contain the bar and the slider for followers*/
.sliderbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/************************************************/
.bar
{
    z-index:0;
    position: relative;
    transition: 5s; /* Does it even have an effect??? */

    /*Setup Compact*/
    /* height:300px;
    width: 30px;
    margin-top: -42px; */

    /*Setup Large*/
    height:375px
    margin-top: -50px;

    /*Setup Super Large*/
    /* height:550px
    margin-top: -60px; */
}
/*Some left space for the axis for the slider+bar setup*/
.l
{
    margin-right: 22px;
}
/************************************************/
/* VERTICAL AND SLIDER ARE BOTH FOR SLIDER*/
/* SLIDER IS USED FOR COSMETICS AND VERTICAL FOR POSITIONING*/
.vertical
{
    z-index: 1;
    position: absolute;
    transform:rotate(270deg);
    height:15px;

    /*Setup Compact*/
    width: 260px;
    margin-left: -90px;
    margin-top: -3px;

    /*Setup Large*/
    /* width: 250px;
    margin-left: -138px;
    margin-top: -3px; */

    /*Setup Super Large*/
    /* width: 510px;
    margin-left: -215px;
    margin-top: -3px; */
}
.slider
{
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    opacity: 0.3;
    transition: 0.35s;
    /* transition-delay: 0.25s; */

    /*Setup Compact*/
    height: 3px;

    /*Setup Large*/
    /* background: black; */
    /* height: 2px; */

    /*Setup Super Large*/
    /* height: 6px; */
}
/************************************************/
.slider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 45px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.15s; */
}
.slider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 45px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.25s; */
}
.slider:focus
{
    outline: none;
}
/************************************************/
/************************************************/
.slider:hover
{
    opacity:1;
    background:gray;
    margin-left: -78px;
}
/************************************************/
.slider:hover::-webkit-slider-thumb
{

    margin-top: 0px;
    height: 55px;
}
.slider:hover::-moz-range-thumb
{
    margin-top: 0px;
    height: 55px;
}

/************************************************/
.newnewSlider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 25px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.25s; */

    /*Setup Compact*/
    margin-top: -25px;

    /*Setup Large*/
    /* margin-top: -26px;
    height: 25px; */

    /*Setup Super Large*/
    /* margin-top: -23px; */
}
.newnewSlider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 30px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.25s; */

    /*Setup Compact*/
    margin-top: -20px;

    /*Setup Large*/
    /* margin-top: -22px;
    height: 25px; */

    /*Setup Super Large*/
    /* margin-top: -23px; */
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.input
{

    margin-top: -20px;
    /* margin-left: 39px; */
    text-align: center;
    /* height: 100px; */
    flex-grow:1;
    /* border: 5px solid black; */
}
.decisiontitle
{
1
    margin-left: -40px;
}
/*************************************************/
/*************************************************/
/** Slider + bar classes for followers decision **/
/*************************************************/
/*leader*/
.sliderbard
{
    margin-top: -10px;
    display:flex;
    justify-content: center;
    margin-left: -40px;
    /* border: 5px solid black; */
}
.dbar
{
    z-index:0;
    position: relative;
}
/************************************************/
.dslider
{
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    opacity: 0.3;
    transition: 0.35s;
    /* transition-delay: 0.15s; */

    /*Setup Large*/
    width: 970px;
    margin-top: 35px;
    margin-left:0px;
    /* background: black; */
    height: 2px;
}
/************************************************/
.dslider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.15s; */
    margin-top: -1px;
}
.dslider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.15s; */
    margin-top: -1px;
}
.dslider:focus
{
    outline: none;
}
/************************************************/
.dslider:hover
{
    opacity:1;
    /* background:gray; */

    /*Setup Large*/
    margin-top: 45px;
    background:black;
}
.dslider:hover::-webkit-slider-thumb
{
    /*Setup Large*/
    height: 55px;
    margin-top: 0px;
    /* width: 5px; */
}
.dslider:hover::-moz-range-thumb
{
    /*Setup Large*/
    height: 55px;
    margin-top: 0px;
    /* width: 5px; */
}/************************************************/
.newdSlider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.15s; */
    margin-top: -1px;

    /*Setup*/
    margin-top: -22px;
    height: 24px;
    width: 3px;
}
.newdSlider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    /* transition-delay: 0.15s; */
    margin-top: -1px;

    /*Setup*/
    margin-top: -22px;
    height: 24px;
    width: 3px;
}
/************************************************/
/************************************************/
/************************************************/
/************************************************/
.dinfo
{
    text-align: center;
    /* height: 100px; */
    flex-grow:1;
    padding-right: 30px;
    /* border: 5px solid black; */
}
.yourdecisiontext
{
    margin-left: -40px;
    font-weight: 200;
    font-size: 18px;
    transition: font-weight .35s ease-in-out;
    margin-top: -2px;

}

/************************************************/
/************************************************/
/************************************************/
.switchwrap
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.switchwrap2
{
    /* padding-top: 70px; */
    /* margin-right: -60px; */
}
.switch {
    /* transform: rotate(90deg); */
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .25s;
  transition: .25s;
}

.checkslider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .checkslider {
  background-color: black;
}

input:focus + .checkslider {
  box-shadow: 0 0 1px black;
}

input:checked + .checkslider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}


.checkslider.round {
  border-radius: 20px;
}

.checkslider.round:before {
  border-radius: 50%;
}


/***************************************/
.mytablewrap
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -70px;
}
.sidecolumn
{
    /* border: 5px solid black; */
    padding-top: 45px;
    padding-right: 5px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: 800;

}
.titlerow
{
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    /* padding-left: 10px; */
    font-weight: 800;
    margin-left: -12px;
}
.row
{
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    /* margin-top: -10px; */
}
.roww2
{
    /* border: 5px solid black; */
    margin-top: -10px;
    margin-left: -15px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.mytableleft
{
    padding-top: 25px;
    margin-left: -60px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-right: 50px; */
}
.maincolumnleft
{
    /* border: 5px solid black; */
    padding-left: 45px;
    display:flex;
    flex-direction: column;

}
.mytableright
{
    margin-right: -50px;
    padding-top: 25px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-right: 50px; */
}
.maincolumnright
{
    /* border: 5px solid black; */
    padding-left: 45px;
    display:flex;
    flex-direction: column;

}
