

.title
{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
    width: 100%; */
}

.calculator
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    height: 100%;
    z-index:0;
    top:0;
    background-color: white;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
    border: 1px solid black;




}
.l
{
    /* margin-right: 1% */
    margin-top: 4%;
    text-align: center;
    /* border: 5px solid blue; */
}

.ol
{
    margin-top: 4%;
    text-align: center;
    /* border: 5px solid red; */
}
#probabilityPie
{
    margin-top: 4%;
    text-align: center;
    display: '';

}
#probabilityBar
{
    margin-top: 4%;
    text-align: center;
    display: '';
}
#
.f
{
    /* margin-right: 1% */
    /* margin-top: 2%; */
    text-align: center;
    /* border: 5px solid blue; */
}

.of
{
    /* margin-right: 1% */
    /* margin-top: 2%; */
    text-align: center;
    /* border: 5px solid blue; */
}
.vSlider
{
    width: 150px;
    transform:rotate(270deg);
}
.h2Slider
{
    transform:rotate(180deg);
}
.dSlider
{
    width: 300px;
}

.decision
{
    text-align: center;
}
